<section class="section-main">
    <section class="card">

        <div class="card-image" style="background-image: url('../../../assets/imagens/card-image-1.png');"></div>
        <!-- <img class="background" src="../../../assets/imagens/card-image-1.png" alt="">     -->
        <div class="card-main">
            <img src="../../../assets/logo.svg">
            <h1>Dev JoseVsousa</h1>
            <p>Lorem ipsum dolor sit amet consectetur. Tortor varius suspendisse arcu amet scelerisque tincidunt neque
                posuere. Vehicula lectus eget</p>
        </div>

        <div class="card-footer">
            <p>------- # ---------</p>
            <h2>Dev: josevicentedesousa.surge.sh</h2>
        </div>

    </section>
    <section class="form">
        <h1>form</h1>
    </section>

</section>