<section class="section-main">
    <section-card></section-card>
    <section class="form">
        <section>

            <h1>BEM VINDO</h1>

            <img src="../../../assets/imagens/logo.svg">

            <p>Entre no app do Dev Freela e veja um exemplo real de login no Firebase do google!</p>

            <div class="form-section">
                <form [formGroup]="form">
                    <input-primary inp-title="email" [control]="form.controls.email"></input-primary>
                    <input-primary inp-title="password" [control]="form.controls.password"></input-primary>

                    @if (form.valid) {
                        <bottom-primary btn-title="entrar" (click)="onSubmit()"></bottom-primary> 
                    }@else {
                        <bottom-primary-disabled btn-title="entrar"></bottom-primary-disabled>
                    }
                    
                </form>
                <div class="form-links">
                    <a routerLink="/signUp">registrar!</a>
                    <a routerLink="/forgotPassword"><b>esqueceu a senha?</b> </a>
                </div>
            </div>

            <p>---------- ou ----------</p>

            <p>Entre com sua rede sociais</p>

            <div class="section-social">
                <a href="http://">
                    <img src="../../../assets/icons/google.svg">
                </a> <a href="http://">
                    <img src="../../../assets/icons/facebook.svg">
                </a> <a href="http://">
                    <img src="../../../assets/icons/github.svg">
                </a>
            </div>
        </section>
    </section>
</section>