<section class="section-main">
    <section-card></section-card>
    <section class="form">
        <section>

            <h1>BEM VINDO</h1>

            <img src="../../../assets/imagens/logo.svg">

            <p>Entre no app do Dev Freela e veja um exemplo real de login no Firebase do google!</p>

            <div class="form-section">
                <form-full form-tipo="login"></form-full>
                <div class="form-links">
                    <a routerLink="/signUp">registrar!</a>
                    <a routerLink="/forgotPassword"><b>esqueceu a senha?</b> </a>
                </div>
            </div>

            <p>---------- ou ----------</p>

            <p>Entre com sua rede sociais</p>

            <div class="section-social">
                <a (click)="login()">
                    <img src="../../../assets/icons/google.svg">
                </a> 
                <a >
                    <img src="../../../assets/icons/facebook.svg">
                </a> 
                <a>
                    <img src="../../../assets/icons/github.svg">
                </a>
            </div>
        </section>
    </section>
</section>