<section class="section-main">
    <section-card class="card"></section-card>
    <section class="form">
        <section>

            <h1>RECUPERAR SENHA</h1>

                <img src="../../../assets/imagens/logo.svg">

            <p>Te enviamos um email. Recupere sua senha!</p>

            <div class="form-section">
                
                <form-full form-tipo="recuperar"></form-full>

            </div>

            <p>---------- *** ----------</p>

            <a class="link-back" routerLink="/">voltar</a>
        </section>
    </section>
</section>