<section class="section-main">
    <section-card  [tipoCard]="'auth'"></section-card>
    <section class="form" >
        <section>
            
            <h1>BEM VINDO</h1>
            
            <img src="../../../assets/imagens/logo.svg" >

            <p>Entre no app do Dev Freela e veja um exemplo real de login no Firebase do google!</p>
            
            <div class="form-section">
                <form>
                    <input-primary inp-title="email"></input-primary>
                    <input-primary inp-title="password"></input-primary>
                    <bottom-primary btn-title="entrar"></bottom-primary>
                </form>
                <div class="form-links">
                    <a routerLink="/signUp">registrar!</a>
                    <a routerLink="/forgotPassword"><b>esqueceu a senha?</b> </a>
                </div>
            </div>
        
            <p>---------- ou ----------</p>
            
            <p>Entre com sua rede sociais</p>
            
            <div class="section-social">
                <a href="http://">
                    <img src="../../../assets/icons/google.svg" >
                </a>            <a href="http://">
                    <img src="../../../assets/icons/facebook.svg" >
                </a>            <a href="http://">
                    <img src="../../../assets/icons/github.svg" >
                </a>
            </div>
        </section>
    </section>
</section>