<section class="section-main">
    
    <section-card [tipoCard]="false"></section-card>
    
    <section class="home">

        <section class="home-header">
            <div class="home-navBar">
                <h1>Home</h1>
            </div>
            <div class="home-banner" style="background-image: url('../../../assets/imagens/banner.png');"></div>
        </section>

        <section class="home-main">
            <p> 
                Esta pagina só é visivel para usuários cadastrados nessa aplicativo de tela de login
                O controle do seu acesso no back-end esta sendo delegado pelo Auth do firebase.
            </p>
            <p>
                Para desconectar da aplicação click no botão desconectar! Obrigado por visitar essa página. ela é toda
                sua. pode pegar o projeto aqui no <a href="https://github.com/josevsousa/tela-login/">github</a>.
            </p>
        </section>

        <section class="home-footer">
            <bottom-primary btn-title="desconectar" (click)="desconectar()"></bottom-primary>
        </section>

    </section>

</section>