<section class="section-main">
    <section-card></section-card>
    <section class="form">
        <section>

            <h1>CADASTRE-SE</h1>

            <img src="{{photoAvatar}}">

            <button class="btn-camera" (click)="getPhoto()">
                <img src="../../../assets/icons/camera.svg">
            </button>

            <div class="form-section">

                <form-full form-tipo="registrar"></form-full>   
                <div class="form-links">
                    <a>já tem uma conta?</a>
                    <a routerLink="./auth"><b>tela de login!</b> </a>
                </div>
            
            </div>

            <p>---------- *** ----------</p>

            <a class="link-back" routerLink="/">voltar</a>

        </section>
    </section>
</section>