.main{
    background: red;
    display: flex;
    color: antiquewhite;
    padding: 4px 24px;
    border-radius: 10px;
    width: 100%;

    h1 { 
        font-size: small;
        font-weight: 800;
    }
}