/* You can add global styles to this file, and also import other style files */
@import "./styles-variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

body {
    // background: var(--body-color);
    padding: 35px;
}

.section-main {
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 10px 21px #c1c1c1;
    border-radius: 33px;

    margin: 10px auto;
    max-width: 1080px;
    min-width: 220px;
    height: 720px;

    section {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .card {
        background: -webkit-linear-gradient(var(--color-1), var(--color-2));
        color: var(--body-color);
        border-radius: 33px 0 0 33px;
        text-align: center;
        flex: 1;
        gap: 18px;
        height: 100%;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--body-color);
        border-radius: 0 33px 33px 0;
        // padding: 39px;
        flex: 1;
        height: 100%;
        min-height: 300px;

        section {
            padding: 51px
        }

        h1 {

        }
        img {

        }
        p {

        }
    
        .form-section {
            width: 100%;
            text-align: center;    

            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 7px;
                padding: 24px 0;          
            }
        }

        .section-social {
            a {
                img {
                    width: 38px;
                }
            }
        }
    }

}

@media (max-width: 710px) {
    body {
        padding: 18px;
    }

    .section-main {
        flex-direction: column;
        height: auto;
        .card {
            border-radius: 33px 33px 0 0;
            width: 100%;

            .card-image {
                border-radius: 33px 33px 0 0;
            }

            .card-main {
                display: flex;
                flex-direction: column;
                gap: 11px;


                h1 {
                font-size: 21px;
                }

                p {
                font-size: small;
                }
            }

            .card-footer {
                margin-top: 6%;

                h2 {
                font-size: 13px !important;
                }
            }
        }

        .form {
            border-radius: 0 0 33px 33px;
            width: 100%;
            padding: 15px;
            
            section {
                padding: 7px
            }
            
            .section-social{
                img {
                    width: 26px !important;
                }
            }
        }
    }

    .input-form {
        input {
            height: 36px;
        }
    }

}

// @media (mix-width: 500px ) {
//     main {
//         width: 400px;
//     }
// }
