
:root {
        //colors
        --body-color: #FFFFFF;

        --color-1: #FF0078;
        --color-1-A: #F98C92;
        --color-2: #F6EFAA;
        --color-3: #EBEBEB;

        // text-colors
        --color-text-1: #424242;
        --color-text-2: #B1B1B1;
}
